  .stamping-head {
    position: absolute;
    width: 22px;
    height: 5px;
    z-index: 2;
    border: 2px rgb(99, 98, 98) solid;
    background-color: rgb(184, 181, 181);
    bottom: 127px;
    left: 137px;
  }
  
  .stamping-pipe {
    position: absolute;
    width: 4px;
    height: 19px;
    z-index: 2;
    border: 2px rgb(99, 98, 98) solid;
    background-color: rgb(184, 181, 181);
    bottom: 134px;
    left: 145px;
  }
 
  .btn-group { 
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .btn-group button {
    background-color: rgb(184, 181, 181); /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }

  
@keyframes slide-top {
  0% {
    transform: translateY(-19px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-19px);
  }
}
  @keyframes slide-right {
    0% {
      transform: translateX(0);

    }
    50% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(81px);
    }
  }
  @keyframes dough-falling {
    0% {
      visability: hidden;
    }
    2% {
      visability: hidden;
    }
    100% {
      transform: translateY(15px);
      background-color: #d79e39;
      border-radius: 125%;
    }
    
  }
@keyframes rotate-br {
 
  0% {
    -webkit-transform: rotate(0) translateX(0px);
    transform: rotate(0) translateX(0px);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
  }
  30% {
    -webkit-transform: rotate(0) translateX(0px);
    transform: rotate(0) translateX(0px);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
  }
  50% {
    -webkit-transform: translateY(20px) translateX(31px) rotate(40deg);
    transform: translateY(20px) translateX(31px) rotate(40deg);
  }
  100% {
    -webkit-transform: translateY(50px) translateX(44px) rotate(95deg);
    transform: translateY(50px) translateX(44px) rotate(95deg);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
  }
}